.createNote {
    background-color: rgb(231, 229, 229);
    width: 80%;
}

.createNote__title {
    margin-top: 55px;
    margin-left: 25px;
}

.createNote__form {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.createNote__form__title {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 9px 8px;
}

.createNote__form__content {
    width: 92%;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 9px 8px;
}


.createNote__button {
    margin-left: 20px;
}

